

body
{
    color: white;
}

h1
{
    margin-top: 9px;
}

h2.rose
{
    color: #ed145c;
}

.title
{
    font-size: 2.3em;
    font-weight: 800;
    letter-spacing: -1px;
}

.bg
{
    background-image: url(img/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    padding-bottom: 1em;
}

.fond
{
    background-image: url(img/full.jpg);
    background-size: 100%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0px;
}

.free
{
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 1em;
}

.img-free
{
    width: 116%;
    margin: 0% 0% 0% -9%;
    max-width: 116%;
}

.title-free
{
    position: absolute;
    left: 52%;
    top: 32%;
    transform: translateX(-50%) translateY(-50%);
    letter-spacing: -7px;
    line-height: 73%;
    font-size: 7em;
    font-weight: 800;
}

ul
{
    list-style-type: none;
}

img.etoiles
{
    margin-right: 0.3em;
    padding-bottom: 8px;
    width: 1em;
}

img.skate
{
    border: 3px solid #fef102;
    padding: 0.25em;
    width: 25%;
    float: left;
    margin-right: 1em;
}

img.skate-right
{
    border: 3px solid #fef102;
    padding: 0.25em;
    width: 25%;
    float: right;
    margin-left: 1em;
}

.quote
{
    background-color: rgba(37, 37, 34, 1);
    border-top: 3px solid #fef102;
    border-bottom: 3px solid #fef102;
    padding: 0.4em 0.6em;
    width: 90%;
    text-align: left;
    margin: 1em auto;
}

img.star
{
    width: 0.8em;
    margin-right: 0.5em;
    padding-bottom: 0.2em;
}

ul.ordered
{
    list-style-type: decimal;
    margin-left: 1.6em;
}

.row-flex
{
    display: flex;
    margin-top: 2em;
}

.col-left
{
    width: 50%;
    padding: 1em;
}

.col-right
{
    width: 50%;
    padding: 1em;
}

.ul-col-left li
{
    border-bottom: 2px solid #555555;
    padding: 0.6em;
    color: rgb(119, 119, 119);
    font-weight: 400;
}

.ul-col-right li
{
    border-bottom: 2px solid #555555;
    padding: 0.6em;
    color: rgb(119, 119, 119);
    font-weight: 400;
}

ul.ul-col-left
{
    background-color: #121212;
    padding: 0em 0em;
    border-top: 2px solid #555555;
}

ul.ul-col-right
{
    background-color: #121212;
    padding: 0em 0em;
    border-top: 2px solid #555555;
}

@media screen and (min-width: 1128px) and (max-width: 1300px)
{
    .img-free
    {
        width: 119%;
        margin: 0% 0% 0% -10%;
        max-width: 123%;
    }
    .title-free
    {
        font-size: 6em!important;
    }
    .title
    {
        font-size: 2.1em;
    }
    h2
    {
        font-size: 1.2em!important;
    }
    ul.updates
    {
        font-size: 1.2em;
    }
    h3
    {
        font-size: 1.2em;
    }
    h3, .foot
    {
        font-size: 1.2em;
    }
    p, .yellow-star, .ordered, .ul-col-left li, .ul-col-right li
    {
        font-size: 1em!important;
    }
    .permalink
    {
        font-size: 1.1em!important;
    }
    .comments
    {
        font-size: 1.1em!important;
    }
    .col-xs-7.pad-foot {
    padding-bottom: 3em;
}
}

@media screen and (min-width: 962px) and (max-width: 1127px)
{
    .img-free
    {
        width: 122%;
        margin: 0% 0% 0% -11%;
        max-width: 123%;
    }
    .title-free
    {
        font-size: 5em!important;
    }
    ul.title
    {
        padding-left: 0.6em;
    }
    .title
    {
        font-size: 2em;
    }
    h2
    {
        font-size: 1em!important;
    }
    ul.updates
    {
        font-size: 1em!important;
    }
    h3
    {
        font-size: 1em;
    }
    h3, .foot
    {
        font-size: 1em;
    }
    p, .yellow-star, .ordered, .ul-col-left li, .ul-col-right li
    {
        font-size: 0.7em!important;
    }
    .permalink
    {
        font-size: 1em!important;
    }
    .comments
    {
        font-size: 1em!important;
    }
     .col-xs-7.pad-foot {
    padding-bottom: 2em;
}
}

@media screen and (min-width: 768px) and (max-width: 961px)
{
    .img-free
    {
        width: 128%;
        margin: 0% 0% 0% -13%;
        max-width: 135%;
    }
    .title-free
    {
        left: 55%!important;
        top: 32%!important;
        letter-spacing: -5px!important;
        font-size: 4em!important;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px)
{
    .img-free
    {
        width: 137%;
        margin: 0% 0% 0% -16%;
        max-width: 138%;
    }
    .title-free
    {
        left: 55%!important;
        top: 24%!important;
        letter-spacing: -2px!important;
        font-size: 2.3em!important;
        line-height: 77%!important;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px)
{
    .img-free
    {
        width: 166%;
        margin: 0% 0% 0% -25%;
        max-width: 169%;
    }
    .title-free
    {
        left: 58%!important;
        top: 23%!important;
        letter-spacing: -2px!important;
        font-size: 1.8em!important;
        line-height: 77%!important;
    }
}

.left-box
{
    border-top: 6px solid #fef102;
    margin-top: 3.2em;
    margin-left: 1em;
    width: 90%;
}

p, .yellow-star, .ordered, .ul-col-left li, .ul-col-right li
{
    font-size: 17px;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.7em;
}

h2
{
    color: black;
    background-color: #fef102;
    margin-top: -10px;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: -1px;
    padding: 4px 5px 1px;
}

ul.updates
{
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: -1px;
    padding-left: 1em;
    border: 6px solid #fef102;
    margin-top: -1.1em;
    border-top: none;
    padding-top: 1em;
    padding-bottom: 10em;
}

ul.updates li
{
    padding-bottom: 0.6em;
}

p.side-item
{
    letter-spacing: 2px;
    border: 6px solid #fef102;
    margin-top: -1.1em;
    border-top: none;
    padding: 3% 3% 1% 4%;
    line-height: 1.4em;
    text-align: left;
}

h3, .foot
{
    letter-spacing: 1px;
}

h3
{
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: -1px;
}

.yellow
{
    color: #fef102;
}

.para2
{
    float: left;
    border: 2px solid #c4b900;
    padding: 3px;
}

.para3
{
    float: right;
    border: 2px solid #c4b900;
    padding: 3px;
}

.inbox
{
    border-left: 6px solid #fef102;
    margin-left: 2px;
    padding-left: 5px;
}

.filed
{
    font-size: 1.17em;
    text-align: justify;
    letter-spacing: 0px;
    line-height: 1.7em;
}

.fin-para
{
    margin-top: -15px;
}

.permalink
{
    color: #fef102;
    font-weight: bold;
    font-size: 1.3em;
    margin-right: 10px;
    letter-spacing: 1px;
}

.comments
{
    border-left: 2px solid white;
    font-weight: bold;
    font-size: 1.3em;
    color: #fef102;
    padding-left: 10px;
    letter-spacing: 1px;
}

p.footer
{
    letter-spacing: 0px;
    margin: 30px 0 0 0;
    position: absolute;
    bottom: 0;
}

span.footer2
{
    letter-spacing: 2px;
}

/***********************/

.tache
{
    background-image: url('img/footer.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 46%;
    background-position: 70% 50%;
    height: 23em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -33px;
    z-index: 0;
}

.img-tache
{
}

.col-xs-5
{
}

.foot-container
{
    width: 181%;
    position: absolute;
    background-image: url(img/footer.gif);
    background-repeat: no-repeat;
    background-position: 101% 100%;
    background-size: 53%;
    margin-top: -1em;
    height: 30em;
    bottom: 0;
}

.pad-foot
{
    padding-bottom: 4em;
}
